body{
    background-color: #333333;
    color: #ffffff;
}

.figure-container{
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-linecap: round;
}

.figure-part{
    display: none;
}